.app {
    
    @import './_components/index.scss';   
    
    .down {
        padding: 52px 222px;
        @include setFlex(flex, column, start, null);

        h1 {
            font-weight: 700;
            font-size: 18px;
            line-height: 152.2%;
            color: $dark;
        }
    }

    .feedback {
        width: 100%;
        height: 21px;
        background-color: $primary;
        color: $white;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }

    @media screen and (max-width:480px) {
        .down {
            padding: 0 24px;
        }

        h1 {
            padding-top: 24px;
        }

        .feedback {
            display: none;
        }
           
    }
}