.filter {
    // display: flex;
    margin-top: 20px;

    form {
        display: flex;
        align-items: center;
        gap: 16px;

        .formInput {
            display: flex;
            flex-direction: column;
            position: relative;

            input {
                padding: 13px 10px;
                height: 20px;
                background: #FFFFFF;
                outline: none;
                border: 1px solid #E0E0E0;
                border-radius: 8px;
            }

            label {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 152.2%;
                color: $grey;
            }

            .icon {
                position: absolute;
                right: 15px;
                bottom: 15px;
                cursor: pointer;
            }
            
            button {
                width: 84px;
                margin-top: 18px;
                padding: 13px 10px;
                background: $white;
                color: #1B31A8;
                border: 1px solid #1B31A8;
                border-radius: 8px;
                cursor: pointer;
            }
        }

    }

    @media screen and (max-width:480px) {
        
        form {
            gap: 5px;
            .formInput {

                input {
                    width: 90%;
                    padding: 13px 3px;
                }

                button {
                    padding: 13px 3px;
                    width: 80px;
                }
            }

            .select {
                display: none;
            }
        }
    }
}